{% render 'partials/head.liquid' %}
<div>
<span> {{ person | json:4 }} {{ person | json:4 }} {{ person | json:4 }} {{ person | json:4 }} {{ person | json:4 }}</span>
</div>
<main>
  <section id="visitekaartContainer">
<div id="avatar">
  <img src="{{ person.avatar }}" id="mugshot" width="100%">
</div>
    <div id="name"><h1>{{ person.name }}</h1></div>
    <div id="birthdate">{{  person.birthdate }}</div>
    <div id="bio">{{ person.bio }}</div>
    <div id="handle">@{{ person.github_handle }}</div> 
  </section>
</main>

{% render 'partials/foot.liquid' %}
